body {
    margin: 0;
    padding: 0;
    background: pink;
}

.searchbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: grey;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchbox:hover > .search-text {
    width: 240px;
    padding: 0 6px;
} 

.searchbox:hover > .search-btn {
    background: pink;
    color: grey;
}

.search-btn {
    color: pink;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: grey;
    display: flex;
    justify-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: pink;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: inherit;
}

